<form [formGroup]="form">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <label><b>Select artist</b></label>
        <select
          class="form-select form-select-lg mb-3 w-100 select_style"
          multiple
          formControlName="artistsName"
        >
          <option *ngFor="let filter of filters?.artistsName">
            {{ filter }}
          </option>
        </select>
      </div>

      <div class="col-md-4">
        <label><b>Select status</b></label>
        <select
          class="form-select select_style mb-3 w-100"
          formControlName="paintingsStatus"
        >
          <option [ngValue]="true">Available</option>
          <option [ngValue]="false">Not available</option>
        </select>
      </div>

      <div class="col-md-4">
        <label><b>Select painting</b></label>
        <select
          class="form-select form-select-lg mb-3 w-100 select_style"
          formControlName="paintingsName"
          multiple
        >
          <option *ngFor="let filter of filters?.paintingsName">
            {{ filter }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="search()"
        >
          Search
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="reset()"
        >
          Reset
        </button>
      </div>
    </div>
  </div>
</form>
